{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ review.title }}</h1>
    <h4>Reviewed by {{ review.author }}</h4>
    <small>
        {{ review.created_on.date }}
    </small>
    <br>
    <br>
    <h4>Content:</h4>
    <p>{{ review.body | linebreaks }}</p>
    <br>
    <br>
    <h3>Leave a comment:</h3>
    <form action="/reviews/{{ review.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}