{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Reviews</h1>
    <br>
    <h2>Create a Post</h2>
    <a href="{% url 'review_create' %}"
    class="btn btn-primary">
     Create
    </a>
    <hr>
    {% for review in reviews %}
    <h2><a href="{% url 'review_detail' review.pk%}">{{ review.title }}</a></h2>
    <small>
        {{ review.created_on.date }} |&nbsp;
    </small>
    <p>{{ review.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}